<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    {{#each libScripts}}
    <script src="lib/{{this}}" type="text/javascript" charset="utf-8"></script>
    {{/each}}

    <script src="js/{{appScript}}" type="text/javascript" charset="utf-8"></script>

    <!-- <script src="hbs.js" type="text/javascript" charset="utf&#45;8"></script> -->
  </head>
  <body>
  <div id="navigate">
    <!-- <script src="js/navigate.js" type="text/javascript" charset="utf&#45;8"></script> -->
  </div>
  <div id="main">
    <!-- <script src="js/application.js" type="text/javascript" charset="utf&#45;8"></script> -->
  </div>
  </body>
</html>
