<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <title>Pure FrontEnd Application</title>
    <link href="{{appCss}}" rel='stylesheet' type="text/css" />

    {{#each libScripts}}
    <script src="lib/{{this}}" type="text/javascript" charset="utf-8"></script>
    {{/each}}

    <script src="js/{{appScript}}" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
  </body>
</html>
