@icon-font-path:          "@{path}/../fonts/";

@brand-primary: #4458a8;

@font-family-sans-serif: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
@headings-font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;

@gray-darker: lighten(#000, 15%);
@gray-lighter: lighten(#000, 85%);
