<div class="header-bg">
  <header class="container">
    <div class="row">

      <div class="col-md-4">
        <h1><img src="images/ocean-logo-2.png" alt="Ocean Associate" /></h1>
      </div>
      
      <div class="col-md-8">
        {{render "navigation"}}
      </div>
      
    </div>
  </header>
</div>

<div class="main-content-bg">
  {{outlet}}
</div>

<div class="footer-bg">
  <div class="container">
    <div class="pull-left logo">
      <!-- <img src="images/ocean&#45;logo&#45;circle&#45;2.png" alt="Ocean Associate Circle Logo" />   -->
      <img src="images/ocean-chiaHoung-logo.png" alt="Ocean Associate and Chia Houng logo" />  
    </div>
    <div class="pull-left">
    <h4>
      OCEAN ASSOCIATE
    </h4>
    <h4>
      CHIA HOUNG MACHINERY
    </h4>
    <p>Established in 1981. We are manufacturers and exporters of tissue paper converting machines in Taiwan for 33 years.</p>
    </div>
  </div>
</div>

<div class="claim-rights">
  <div class="container">
    <div class="pull-left">
    © Ocean Associate 2014 - All right reserved
    </div>
    <div class="pull-right">
     Designed by <a href="#">ddhp</a>
    </div>
  </div>
</div>
