<div class="header-bg">
  <header class="container">
    <div class="row">

      <div class="col-md-4">
        <h1><img src="images/ocean-logo.png" alt="Ocean Associate" /></h1>
      </div>
      
      <div class="col-md-8">
        {{render "navigation"}}
      </div>
      
    </div>
  </header>
</div>

<div class="footer-bg">
  <div class="container">
    <div class="pull-left logo">
      <img src="images/ocean-logo-circle.png" alt="Ocean Associate Circle Logo" />  
    </div>
    <div class="pull-left">
    <h4>
      <strong>Ocean Assciate</strong>, established in 1981
    </h4>
    <p>We are manufacturers and exporters of tissue paper converting machines in Taiwan for 33 years.</p>
    </div>
  </div>
</div>

<div class="claim-rights">
  <div class="container">
    <div class="pull-left">
    © Ocean Associate 2014 - All right reserved
    </div>
    <div class="pull-right">
     Designed by <a href="#">ddhp</a>
    </div>
  </div>
</div>
