<header>
  <div class="container">
    <h1>Igor's Blog</h1>
  </div>
</header>
{{render "navigation"}}

<div>
  <div class="container">
  {{outlet}}
  Tesing icon path
  <span class="glyphicon glyphicon-search"></span>
  </div>
</div>

<footer>
  <div class="container">
    &copy;2013 Igor's Publishing, Inc.
  </div>
</footer>
